.intro {
  @include back("../img/book.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center -50px;

  &__wrapper {
    padding: 80px 30px 100px;
    margin: 0 auto;

    @include tablet {
      padding: 30px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 40px;

    @include font(27px, 1em, "Candara Bold");
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    @include tablet {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &__author {
    display: block;
    font-size: 17px;
    letter-spacing: 0.18em;
    text-align: center;
  }
}
