.logo {
  color: $black;
  display: block;

  &__strong {
    display: block;
    text-align: center;

    @include font(4vh, 1.4em);
    font-family: "Candara Bold", "Arial", sans-serif;
    text-transform: uppercase;
  }

  &__span {
    display: block;
    text-align: center;

    @include font(3vh, 1.4em);
    letter-spacing: 0.15em;
  }
}
