.page-main {
  &--inner {
    @include back("../img/flowers-reviews.png");
    background-size: cover;
    background-attachment: fixed;
  }

  &__header {
    font-size: 35px;
    line-height: 1.2em;
    font-family: "Candara Bold", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
  }

  &__block {
    margin-top: 100px;
  }

  &__container {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 30px;
  }
}
