.page-header {
  background-color: $pink;
  border-top: 5px solid $pink;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  box-sizing: border-box;
  z-index: 100;

  &__wrapper {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  &__logo-wrapper {
    width: 31%;
    margin-top: 10px;

    @include tablet {
      width: 100%;
      margin: 10px 0;
    }
  }

  &__navigation {
    width: 65%;

    @include tablet {
      position: fixed;
      top: -5px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $white;
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;

    & + .page-main {
      padding-top: 71px;
    }
  }

  &__toggle {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.page-header--closed .page-header__navigation {
  display: block;

  @include tablet {
    display: none;
  }
}

.page-header--opened .page-header__navigation {
  display: block;
}
