.site-list {
  @include clear-ul;

  display: flex;
  justify-content: flex-end;

  @include tablet {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @include tablet {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    color: $black;
    padding: 20px 0 25px;
    text-transform: uppercase;
    font-family: "Candara Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 2vh;

    @include tablet {
      font-size: 26px;
      text-transform: none;
    }

    &:hover,
    &:active {
      color: $yellow;

      @include tablet {
        color: $blue;
      }
    }

    &--active {
      color: $yellow;

      @include tablet {
        color: $blue;
      }
    }
  }
}
