@font-face {
  font-family: "Lulo Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/lulo.woff2") format("woff2"),
  url("../fonts/lulo.woff") format("woff")
}

@font-face {
  font-family: "Avenir Light";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/avenir-light.woff") format("woff"),
  url("../fonts/avenir-light.woff2") format("woff2")
}
