$mobile-width: 320px;
$mobile-middle-width: 440px;
$tablet-width: 760px;
$tablet-middle-width: 820px;
$desktop-width: 980px;

$black: #000000;
$white: #ffffff;
$pink: rgb(166, 36, 76);
$dark-pink: rgba(102, 9, 32, 1);
$light-pink: rgba(166, 36, 76, 0.62);
$yellow: #E9DB89;
$grey: #4F4F4F;
